/*button 공용*/
button {
  border: none;
  outline: none;
  cursor: pointer;
}

.section {
  margin: 3rem 0;
  width: 50rem;
  height: 20rem;
  padding: 0.5rem;
  border: 1px #ccc solid;
  border-radius: 0.5rem;
  position: relative;
}

.subject {
  text-align: left;
  margin: 0;
}

.openButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background-color: #512ca8;
  color: white;
}

.modalWrapper {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #512ca8;
  background-color: white;
  border-radius: 1rem;
  padding: 0.2rem 1.5rem 1.5rem 1.5rem;
}

.closeButton {
  background-color: transparent;
  font-weight: bold;
}

p {
  padding-top: 1.5rem;
}
