.section {
  margin: 3rem 0;
  width: 50%;
  height: 20rem;
  padding: 0.5rem;
  border: 1px #ccc solid;
  border-radius: 0.5rem;
  position: relative;
}

/* For small screen */

@media screen and (max-width: 780px) {
  .section {
    width: 80%;
  }
}

.subject {
  text-align: left;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox {
  display: none;
}

.outer {
  background-color: #ccc;
  height: 2rem;
  width: 4.5rem;
  padding: 0.3rem;
  border-radius: 1rem;
  display: flex;
  position: relative;
  transition: all 500ms ease;
}

.inner {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  transition: all 500ms ease;
}

.checkbox:checked ~ * .inner {
  transform: translateX(2.5rem);
}

.checkbox:checked ~ .outer {
  background-color: #512ca8;
}
